@import '@/styles/colors.scss';

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: $white-color;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.5s ease;

  &:hover {
    background-color: $white-color;
    color: $black-color;
  }

  &:disabled {
    background-color: $button-disabled;
    color: $disable-text-color;
    cursor: auto;
  }

  &:active {
    transition: none;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 0px;
  }
}
