@use 'sass:map';
@import './AuthButton.colors';

@mixin animateButton {
  @keyframes buttonAnimation {
    0% {
      transform: scale(1.2, 0.8);
    }
    50% {
      transform: scale(0.8, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

@mixin buttonShadow {
  box-shadow: map.get($buttonColors, 'btn-shadow');
  &:hover {
    animation: buttonAnimation 200ms 50ms linear forwards;
  }

  &:active {
    width: 68px;
    height: 28px;
    box-shadow: map.get($buttonColors, 'btn-shadow-active');
  }
}

@mixin buttonStyle($type) {
  flex: 0 0 70px;
  display: flex;
  width: 70px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;

  @if ($type == sign-in) {
    background: map.get($buttonColors, 'sign-in');
  }
  @if ($type == sign-up) {
    background: map.get($buttonColors, 'sign-up');
  }

  @if ($type == to-main) {
    background: map.get($buttonColors, 'to-main');
  }

  @include buttonShadow;
  @include animateButton;
}
