@use 'sass:map';
@import '../../../styles/mixins';
@import '../../../styles/colors';

.sign_in {
  @include buttonStyle(sign-in);
  &-text {
    font-size: 1em;
    color: map.get($buttonColors, 'btn-text');
  }
}

.sign_up {
  @include buttonStyle(sign-up);
  &-text {
    font-size: 1em;
    color: map.get($buttonColors, 'btn-text');
  }
}

.to_main {
  @include buttonStyle(to-main);
  &-text {
    font-size: 1em;
    color: map.get($buttonColors, 'btn-text');
  }
}
