# Webstorm
/.idea/.gitignore
/.idea/modules.xml
/.idea/REACT2023Q4.iml
/.idea/vcs.xml
/.idea/*
/.idea

#Node modules
node_modules

#Dist folder
.next
.env*.local
.nyc_output
.DS_Store
.env
tsconfig.tsbuildinfo
coverage
