.btn {
  position: relative;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  cursor: pointer;

  @media (max-width: 800px) {
    padding: 5px 10px;
  }

  &.tab__btns_btn,
  &.tab__btns_btn_dis {
    border: none;
    color: #fff;
    transition: 0.3s ease;
    opacity: 0.5;
  }

  &.tab__btns_btn_dis {
    opacity: 1;
  }

  &__tab_btn,
  &__tab_btn_open {
    border: none;
    margin-left: auto;
    transform: rotate(180deg);
    transition: 0.3s ease;
  }

  &__tab_btn_open {
    transform: rotate(0deg);
  }

  &.execute_btn {
    background-color: green;
    border: none;
  }

  &__tooltip {
    position: absolute;
    bottom: -80%;
    left: 0;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    font-size: 14px;
    color: #fff;
    transition: 0.3s ease;
    white-space: nowrap;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
