.btn {
  position: relative;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  cursor: pointer;

  @media (max-width: 800px) {
    padding: 5px 10px;
  }

  &.tab__btns_btn,
  &.tab__btns_btn_dis {
    border: none;
    color: #fff;
    transition: 0.3s ease;
    opacity: 0.5;
  }

  &.tab__btns_btn_dis {
    opacity: 1;
  }

  &__tab_btn,
  &__tab_btn_open {
    border: none;
    margin-left: auto;
    transform: rotate(180deg);
    transition: 0.3s ease;

    @media (max-width: 380px) {
      position: absolute;
      top: -35px;
      left: 0;
    }
  }

  &__tab_btn_open {
    transform: rotate(0deg);
  }

  &.execute_btn {
    background-color: green;
    border: none;

    &:disabled {
      img {
        animation-name: loader;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }

  &__tooltip {
    position: absolute;
    bottom: -80%;
    left: 0;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    visibility: hidden;
    z-index: 10;
    opacity: 0;
    font-size: 14px;
    color: #fff;
    transition: 0.3s ease;
    white-space: nowrap;
    background-color: rgb(33, 42, 59);

    @media (max-width: 800px) {
      font-size: 10px;
      min-width: 50px;
      // max-width: 50px;
      white-space: unset;
      top: 120%;
      bottom: unset;
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes loader {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
