.btn {
  position: relative;
  background-color: transparent;
  padding:  10px 20px;
  font-size: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  cursor: pointer;

  &.tab__btns_btn, &.tab__btns_btn_dis {
    border: none;
    color: #fff;
    transition: .3s ease;
  }

  &.tab__btns_btn_dis {
    opacity: 0.5;
  }

  &__tooltip {
    position: absolute;
    bottom: -80%;
    left: 0;
    min-width: 100px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    font-size: 14px;
    color: #fff;
    transition: .3s ease;
    white-space: nowrap;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}