.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45%;
  padding: 20px;
  border-left: 1px solid grey;
  position: relative;

  div {
    font-family: monospace;
  }

  &__text {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    padding-right: 80px;

    &:focus-visible {
      outline: none;
      border: none;
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
