.editor {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  max-width: 45%;
  padding: 20px;
  position: relative;
  width: 100%;

  &div,
  span {
    font-family: monospace;
  }

  &__text {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-right: 80px;
    width: 100%;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
