.tabs {
  &__btns {
    border-top: 1px solid grey;
    display: flex;
    gap: 30px;
    margin-top: auto;
    width: 100%;
    position: relative;

    @media(max-width: 1000px) {
      gap: 15px;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    visibility: hidden;

    &_open {
      color: #fff;
      grid-template-rows: 200px;
      visibility: visible;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }

    &_input {
      font-family: monospace;
      width: 100%;
      background-color: transparent;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }
}