@import './../../styles/colors.scss';

.docs {
  padding: 10px;
  width: 70%;
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  &__title {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 5px;
    padding: 5px;

  }

  &__header {
    color: $sand-dollar;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__query {
    margin-bottom: 10px;
    display: block;
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
  }

  &__page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    background-color: rgb(33, 42, 59);
  }

  &__bread {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;

    gap: 5px;
  }
}