@import '@/styles/colors.scss';

.docs {
  padding: 10px;
  width: 70%;
  max-height: calc(100vh - 160px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  @media (max-width: 800px) {
    position: absolute;
    padding-left: 15px;
    width: calc(100% - 64px);
    min-height: calc(100vh - 160px);
    max-height: unset;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(33, 42, 59);
    z-index: 5;
  }

  &__breads {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 5px;
    margin-bottom: 10px;

    &__bread {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 16px;
      gap: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: 0.3s ease;
      opacity: 0.8;

      &:hover {
        opacity: 0.5;
      }

      &:last-child {
        cursor: default;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__header {
    color: $sand-dollar;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &__query {
    margin-bottom: 10px;
    display: block;
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-size: 18px;
    color: $pink-color;

    &:hover:not(:disabled) {
      text-decoration: underline;
    }

    &:disabled {
      cursor: default;

      p {
        font-size: 20px;
        color: $link-color;
      }
    }

    &_btn {
      display: block;
      background-color: transparent;
      border: none;
      font-family: inherit;
      cursor: pointer;
      font-size: 18px;
      color: $pink-color;
      margin-bottom: 10px;
    }
  }

  &__page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    background-color: rgb(33, 42, 59);
  }

  &__desc {
    font-family: monospace;
    opacity: 0.7;
    line-height: 130%;
    margin-bottom: 20px;
  }

  &__arg {
    color: $pink-color;

    &_type {
      color: $link-color;
      background-color: transparent;
      border: none;
      font-family: inherit;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__type {
    color: $pink-color;
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__enum {
    display: block;
    margin-bottom: 10px;
    color: $sand-dollar;
  }

  &__title {
    font-size: 16px;
    color: $blue-gray;
    margin-bottom: 10px;
  }
}
