@import '@/styles/colors.scss';

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: $white-color;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 675px) {
    display: none;
  }

  &:hover {
    background-color: $white-color;
    color: $black-color;

    .logo {
      filter: invert(0);
    }
  }

  .logo {
    transition: 0.5s ease;
    filter: invert(1);
  }
}
