@use 'sass:map';
@import '@/styles/colors.scss';

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  position: relative;

  &__btns {
    align-self: flex-end;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    list-style: none;

    &_item {
      align-items: center;
      border: 2px solid wheat;
      border-radius: 30px;

      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 30px 20px;
      position: relative;

      &_link {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  &__title {
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    background-clip: text;
    color: transparent;
    display: block;
    font:
      700 4rem Raleway,
      sans-serif;
    padding: 4px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-text-stroke: 2px var(--fill-color);
    text-transform: uppercase;
    transition: 0.5s linear;
    --fill-color: #ffffff;

    &:hover {
      background-size: 100%;
    }

    @media screen and (max-width: 800px) {
      font:
        700 35px Raleway,
        sans-serif;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
  }

  &__links {
    color: map.get($headerColors, 'link-hover');

    &:hover {
      color: map.get($headerColors, 'link');
    }

    &:active {
      color: map.get($headerColors, 'link-active');
    }
  }
}

.card-section {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10%;
  height: 100%;
  justify-content: center;
  padding: 0 5%;
  width: 100%;

  @media screen and (max-width: 820px) {
    align-items: center;
  }
}

.big-image {
  bottom: 0;
  height: 980px;
  left: 10%;
  margin-top: 400px;
  position: absolute;
  transform: scale(-1, 1);
  width: 420px;

  @media screen and (max-width: 820px) {
    display: none;
  }
}
