@import '@/styles/colors.scss';

.editor__text {
  color: $white-color;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-right: 80px;
  width: 100%;

  &:focus-visible {
    border: none;
    outline: none;
  }
}
