@import '@/styles/colors';

.switch {
  display: inline-block;
  margin: 0 5px;
  position: relative;

  span {
    font-size: 12px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    text-transform: uppercase;
    top: 11px;
    width: 50%;

    &.on {
      color: $black-color;
      left: 0;
      padding-left: 2px;
    }

    &.off {
      color: $white-color;
      padding-right: 4px;
      right: -1px;
    }
  }
}

input.check-toggle-round-flat:checked ~ .off {
  color: $black-color;
}

input.check-toggle-round-flat:checked ~ .on {
  color: $white-color;
}

.check-toggle {
  margin-left: -9999px;
  position: absolute;
  visibility: hidden;
}

.check-toggle + label {
  cursor: pointer;
  display: block;
  outline: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  background-color: $black-color;
  border: 1px solid $white-color;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  height: 35px;
  padding: 2px;
  width: 65px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  content: '';
  display: block;
  position: absolute;
}

input.check-toggle-round-flat + label:before {
  -webkit--moz-border-radius: 60px;
  background-color: $black-color;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  top: 2px;
}

input.check-toggle-round-flat + label:after {
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  bottom: 4px;
  left: 4px;
  top: 4px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
  width: 25px;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 30px;
}
