@use 'sass:map';
@import 'Header.colors';
@import './Header.mixins';

.header {
  @include animateHeader;

  &_ordinary {
    @include headerStyle(100%, map.get($headerColors, ordinary));
  }

  &_sticky {
    @include headerPosition;
    @include headerStyle(90%, map.get($headerColors, sticky));
  }

  &__link {
    font-size: 1.5em;
    color: map.get($headerColors, link);
    cursor: pointer;

    &:hover {
      color: map.get($headerColors, link-name);
    }

    &:active {
      color: map.get($headerColors, link-active);
    }
  }

  &__container {
    display: flex;
    width: 320px;
    height: 80px;
    margin-right: 20px;
    justify-content: space-evenly;
    align-items: center;

    &-buttons {
      display: flex;
      width: 180px;
      height: 80px;
      box-sizing: border-box;
      padding: 5px;
      justify-content: stretch;
      align-items: center;
      gap: 5px;
    }
  }
}
