@mixin animating {
  @keyframes clickImg {
    0% {
      transform: scale(1.2, 0.8);
    }
    50% {
      transform: scale(0.8, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  @keyframes shakeImg {
    0% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

@mixin divDisplay($position) {
  display: flex;
  @if ($position == centered) {
    justify-content: center;
    align-items: center;
  }
  @if ($position == spaced) {
    justify-content: space-between;
    align-items: center;
  }
}
