@use 'sass:map';
@import 'Footer.mixins';
@import 'Footer.colors';

.footer {
  @include divDisplay(spaced);
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 5px 20px;
  gap: 5px;
  background: map.get($footerColors, 'ft-background');

  &__authors {
    @include divDisplay(spaced);
    width: 300px;
    gap: 10px;
  }

  &__created {
    @include divDisplay(centered);
  }

  &__logo {
    @include divDisplay(centered);
  }

  &__names {
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    color: map.get($footerColors, 'names');
    cursor: pointer;

    &:hover {
      color: map.get($footerColors, 'names-hover');
    }

    &:active {
      color: map.get($footerColors, 'names-active');
    }
  }

  &__text {
    font-size: 2em;
    color: map.get($footerColors, 'created');
  }

  &__school {
    @include animating;
    cursor: pointer;
    &:hover {
      animation: shakeImg 500ms ease-in-out forwards;
    }

    &:active {
      animation: clickImg 250ms ease-in-out forwards;
    }
  }
}
