@use 'sass:map';
@import '../../styles/mixins';
@import '../../styles/colors';

.footer {
  @include divDisplay(spaced);
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 5px 20px;
  gap: 5px;
  background: map.get($footerColors, 'ft-background');

  &__authors {
    @include divDisplay(spaced);
    width: 300px;
    gap: 10px;

    &-names {
      text-decoration: none;
      text-align: center;
      font-size: 1em;
      color: map.get($footerColors, 'names');
      cursor: pointer;

      &:hover {
        color: map.get($footerColors, 'names-hover');
      }

      &:active {
        color: map.get($footerColors, 'names-active');
      }
    }
  }

  &__created {
    @include divDisplay(centered);

    &-text {
      font-size: 1.5em;
      font-weight: 200;
      color: map.get($footerColors, 'created');
    }
  }

  &__logo {
    @include divDisplay(centered);

    &-school {
      @include animating;
      cursor: pointer;
      &:hover {
        animation: shakeImg 500ms ease-in-out forwards;
      }

      &:active {
        animation: clickImg 250ms ease-in-out forwards;
      }
    }

    filter: invert(1);
  }
}
